<section class="password-mode" style="padding: 5% 3% 2%">
    <div class="container-password_mode">
        <div class="logo-container password-mode">
            <img src="{{ 'brand-logo.png' | asset_url }}" alt="" style="width: 50px">
         </div>
        <div class="password-photo_container">
             <img src="{{ 'password-mode.png' | asset_url }}" alt="">
        </div>
      <p style="padding: 15px 45px 0;">Webstore will be available soon..</p>
      <p></p>
      
    </div>
</section>