<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="section-header">
      <h1 class="section-header--title">{{ page.title }}</h1>
    </div>

    <div class="rte">
<div class="flexbox">
  <div class="item">
    <div class="content">
      <a href="https://www.theclothing-twpm.com/pages/january-2022">
        <img  src="{{ 'slideshow_03.png' | asset_url }}" style='width: 100%;' alt=""/>
        <p style="margin: 0;">JANUARY 2022 - ACTIVITIES COLLECTION</p>
        <p>DELIVERY 1</p>
      </a>
    </div>
  </div>
  <div class="item">
    <div class="content">
    
    </div>
  </div>
  <div class="item">
    <div class="content">
      
    </div>
  </div>
  <div class="item">
    <div class="content">
      
    </div>
  </div>
    <div class="item">
    <div class="content">
    
    </div>
  </div>
    <div class="item">
    <div class="content">
   
    </div>
  </div>
    <div class="item">
    <div class="content">
     
    </div>
  </div>
</div>
    </div>

  </div>

</div>



<style>
.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  margin: 0px -7.5px;
}

.item {
  box-sizing: border-box;
  width: 50%;
  margin-bottom: 22px;
  padding: 0px 7.5px;
}

.content {
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}
</style>